<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Este si es el que vale el buen-->
<head>
    <title>Proyecto del método Rosa</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
        crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"-->
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="nav nav-pills p-3 bg-primary nav-fill">
        <a class="nav-link active text-light fw-bold fs-5" href="#">INICIO</a>
        <a class="nav-link active text-light fw-bold fs-5" href="#">NOSOTROS</a>
        <a class="nav-link active text-light fw-bold fs-5" href="#">MÉTODO</a>
        <a class="nav-link active text-light fw-bold fs-5" href="#">REGISTRATE</a>
        <a class="nav-link active text-light fw-bold fs-5" href="#">INICIAR SESIÓN</a>
    </nav>
    <div class=" container-fluid mt-3">
        <div class="row justify-content-between">
            <div class="col-7">
                <h3 class="text-body text-center fst-italic fw-bold">SEDENTARISMO EN ESTUDIANTES DE LA MODALIDAD
                    VIRTUAL</h3>
            </div>
            <div class="col">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 form-control-sm ms-5" type="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-outline-success ms-2" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="row mt-3 mb-0">
            <div class="col-4">
            <h1 class=" text-center mt-5 mb-2">¿QUÉ ES EL MÉTODO ROSA?</h1>
            <p class=" justify-content-center ms-5 me-5 fs-5">El método rosa permite cuantificar rápidamente los riesgos asociados con el
                trabajo con pantallas y establecer un nivel de acción del cambio basado en los informes de
                malestar de los trabajadores. Se trata de un método para evaluar, de forma rápida, los riesgos
                posturales en puestos de oficina o de estudio.</p>
            </div>
            <div class="col-8 ">
                <!--m = margin y p = padding s = izquierda y e = derecha ms-xxl-auto-->
                <img src="woman-menu.jpg" class="img-fluid w-100">
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="border bg-primary p-lg-5"></div>
            </div>
        </div>
    </div>
</body>

</html>