<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>About Registros UG</title>
    </head>
    <body>
        <h1 th:text="'Hola, ' + ${nombre} + '!'" />
        <h2 th:text="${saludo}" />
    </body>
</html>