<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Evaluacion</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
    type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
    rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" type="text/css" href="css/styles.css" th:href="@{/css/styles.css}">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>


<body>
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand bi bi-arrow-90deg-left"  data-bs-toggle="modal" data-bs-target="#dialogo1"> Regresar Menu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
    
    </div>
  </nav>
  <!-- Page Header-->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="page-heading">
            <h3>Método Rosa</h3>
            <span class="subheading bi bi-heart-pulse-fill"> Evaluación</span>
            <h6>Introduce los datos necesarios para realizar la evaluación</h6>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container position-relative px-9 px-lg-9">
    <div class="row gx-9 gx-lg-9  justify-content-center">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title bg-primary text-white text-center">Silla</h5>
          <p class="card-text">Introduce la información correspondiente al asiento, el respaldo y el apoyo de brazos.</p>
          <img src="img/silla_general.jpg" class="rounded float-end d-none d-lg-block"  width="150" height="130">
          <a href="/showaddsilla" class="btn btn-primary">Introducir datos</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title bg-primary text-white text-center">Periféricos</h5>
          <p class="card-text">Introduce la información correspondiente a la pantalla, el teclado, el mouse.</p>
          <img src="img/periferals.jpg" class="rounded float-end d-none d-lg-block"  width="150" height="130">
          <a href="/showaddperiferico" class="btn btn-primary">Introducir datos</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


  <div class="container"> 


    <div class="modal fade" id="dialogo1">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- cabecera del diálogo -->
          <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel">¿Está seguro de salir de la evaluación?</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <!-- cuerpo del diálogo -->
          <div class="modal-body">
            Si deseas regresar al menu aplasta en el botón
          </div>
          <!-- pie del diálogo -->
          <div class="modal-footer">
            <a href="/menu" class="btn btn-primary active" aria-current="page">Salir</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
 <br> 

  <footer class="border-top">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#!">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#!">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#!">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <div class="small text-center text-muted fst-italic">MétodoRosa &copy; Aplicaciones Web (Ingeniero García Plua)</div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>