<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
    <title>TABLA perifericos</title>

    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css" th:href="@{/css/styles.css}">

    <style>
        footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}
    </style>

</head>

<body>
    <nav class="nav nav-pills p-3 bg-primary nav-fill">
        <a class="nav-link active text-light fw-bold fs-5" href="#">INICIO</a>
        <a class="nav-link active text-light fw-bold fs-5" href="/showaddregistro">REGISTRARSE</a>
        <a class="nav-link active text-light fw-bold fs-5" href="/registro">TABLA DE REGISTROS</a>
        <a class="nav-link active text-light fw-bold fs-5" href="/evaluacion">EVALUACION</a>
        <a class="nav-link active text-light fw-bold fs-5" href="/home">HOME</a>
    </nav>

    <div class="container text-center mt-4">
      <div class="row">
       <div class="col-12 text-center">
        
          <table class="table mt-4 table-striped  align-middle w-80 text-center">
            <thead class="bg-primary text-white">
              <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>EDAD</th>
                <th>SEXO</th>
                <th>PREGUNTA 1</th>
                <th>PREGUNTA 2</th>
                <th>PREGUNTA 3</th>
                <th>PREGUNTA 4</th>
                <th>PREGUNTA 5</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="periferico : ${perifericos}">
                <td th:text="${periferico.id}"></td>
                <td th:text="${periferico.nombre}"></td>
                <td th:text="${periferico.edad}"></td>
                <td th:text="${periferico.sexo}"></td>
                <td th:text="${periferico.pregunt1}"></td>
                <td th:text="${periferico.pregunt2}"></td>
                <td th:text="${periferico.pregunt3}"></td>
                <td th:text="${periferico.pregunt4}"></td>
                <td th:text="${periferico.pregunt5}"></td>


              </tr>
            </tbody>
          </table>

          <div class="container position-relative px-9 px-lg-9">
            <div class="row gx-9 gx-lg-9  justify-content-center">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body bg-primary">
                  <img src="img/tablaResul.jpg" class=" img-thumbnail rounded float-end d-none d-lg-block">
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="card">
                <div class="card-body bg-primary">
                    <img src="img/niveles.jpg" class=" img-thumbnail rounded float-end d-none d-lg-block">
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
 


    <footer class="w-100  d-flex  align-items-center justify-content-center flex-wrap mt-3">
        <p class="fs-5 px-3  pt-3">MétodoRosa &copy; Aplicaciones Web (Ingeniero García Plua) </p>
        <div id="iconos" >
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>  
        </div>
    </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> 
        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script src="main.js"></script>
    
        
    </body>
    </html>