<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Datos</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
      
    
    <div class="container text-center mt-4">
       <div class="row">
        <div class="col-12 text-center">
          <h2 class="badge bg-primary bi bi-table card-title p-4 fs-5 fw-bold text-wrap w-75"> Datos de Estudiantes Registrados</h2>
          <p>
            <a href="/showaddregistro" class="btn btn-primary bi bi-person-plus-fill btn-sm mt-2"> Registrarse</a></p>
          </p>
         <hr> 
          <table class="table table-bordered table-dark w-80 text-center">
            <thead>
              <tr class="table-primary"><th>ID</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>EMAIL</th>
                <th>INSTITUCION</th>
                <th>CONTRASENA</th>
                <th>OPCIONES</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="registro : ${registros}">
                <td class="bg-success" th:text="${registro.id}"></td>
                <td th:text="${registro.nombre}"></td>
               <td th:text="${registro.apellido}"></td>
               <td th:text="${registro.email}"></td>
               <td th:text="${registro.institucion}"></td>
               <td th:text="${registro.contrasena}"></td>
               <td>
                <a th:href="@{/showUpdateRegistro/{id}(id=${registro.id})}" class="btn btn-primary">Modificar</a>
                <a th:href="@{/deleteRegistro/{id}(id=${registro.id})}" class="btn btn-danger">Eliminar</a>  
                </td>
              </tr>
            </tbody>
          </table>

        </div>

       </div>
    </div>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
