<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    body {
        background: #2980b9;
        background: linear-gradient(to right, #4b9fd7, #2980b9)
    }
</style>

<head>
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container col mt-5 bg-white p-5 col-md-9 col-lg-9 col-xl-9 rounded shadow">
        <h2 class="bi bi-person-circle"> Registro de Estudiantes</h2>
        <hr>
        <h2 class="badge bg-primary bi bi-pencil-square card-title p-4 fs-5 fw-bold text-wrap w-100"> Completa estos
            campos</h2>
        <form class="needs-validation" action="#" th:action="@{/addregistro}" th:object="${registro}" method="post" novalidate>
            <div class="p-4 form-group fw-bold fs-9 text-wrap w-100">
                <label for="textNombre">Nombre</label>
                <input type="text" class="form-control" th:field="*{nombre}" id="textNombre"
                    placeholder="Ingrese nombre" required>
                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
                <div class="valid-feedback">
                    Todo bien
                </div>

                <div class="invalid-feedback">
                    Es necesario poner el nombre
                </div>
            </div>
            <div class=" p-4 form-group fw-bold fs-9 text-wrap w-100">
                <label for="textApellido">Apellido</label>
                <input type="text" class="form-control" th:field="*{apellido}" id="textApellido"
                    placeholder="Ingrese apellidos"  required>
                <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
                <div class="valid-feedback">
                    Todo bien
                </div>

                <div class="invalid-feedback">
                    Es necesario poner el apellido
                </div>
            </div>
            <div class=" p-4 form-group fw-bold fs-9 text-wrap w-100">
                <label for="textEmail">Email</label>
                <input type="email" class="form-control" th:field="*{email}" id="textEmail" placeholder="Ingrese email" required>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                <div class="valid-feedback">
                    Todo bien
                </div>

                <div class="invalid-feedback">
                    Es necesario ingresar gmail
                </div>
            </div>
            <div class=" p-4 form-group fw-bold fs-9 text-wrap w-100">
                <label for="textInstitucion">Institucion</label>
                <input type="text" class="form-control" th:field="*{institucion}" id="textInstitucion"
                    placeholder="Ingrese institucion" required >
                <span th:if="${#fields.hasErrors('institucion')}" th:errors="*{institucion}"></span>
                <div class="valid-feedback">
                    Todo bien
                </div>

                <div class="invalid-feedback">
                    Es necesario ingresar su institución
                </div>
            </div>
            <div class=" p-4 form-group fw-bold fs-9 text-wrap w-100">
                <label for="passwordContrasena">Contraseña</label>
                <input type="password" class="form-control" th:field="*{contrasena}" id="passwordContrasena"
                    placeholder="Ingrese contraseña" required>
                <span th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}"></span>
                <div class="valid-feedback">
                    Todo bien
                </div>

                <div class="invalid-feedback">
                    Es necesario ingresar una contraseña
                </div>
            </div>
            <div class=" mb-4 form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked required>
                <label class="form-check-label" for="flexCheckChecked"> Acepta las políticas de privacidad </label>
                <div class="valid-feedback">
                    Todo bien
                </div>

                <div class="invalid-feedback">
                    Es necesario Aceptar los terminos
                </div>
            </div>
            <hr>
            <input type="submit" class="btn bg-primary fw-bold col-2  text-white" value="Registrarme">
        </form>


        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
            .forEach(function (form) {
            form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
            })
            })()
        </script>
</body>
</html>