<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    
    <title>Formulario silla</title>

    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

    <style>
        footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}
    </style>

</head>

<body>
    <nav class="nav nav-pills p-3 bg-primary nav-fill">
        <a class="nav-link active text-light fw-bold fs-5" href="#">INICIO</a>
        <a class="nav-link active text-light fw-bold fs-5" href="/showaddregistro">REGISTRARSE</a>
        <a class="nav-link active text-light fw-bold fs-5" href="/registro">TABLA DE REGISTROS</a>
        <a class="nav-link active text-light fw-bold fs-5" href="/evaluacion">EVALUACION</a>
        <a class="nav-link active text-light fw-bold fs-5" href="/home">HOME</a>
    </nav>

    <div class="container col mt-5 bg-white p-5 col-md-9 col-lg-9 col-xl-9 rounded shadow">
        <h2 class="bi bi-person-circle">    Registro de su postura (SILLA)</h2>
        <hr>
        <h2 class="badge bg-primary bi bi-pencil-square card-title p-4 fs-5 fw-bold text-wrap w-100"> Completa estos campos</h2>
       <form class="needs-validation" action="#" th:action="@{/addsilla}" th:object="${silla}" method="post" novalidate>

        <div class="p-4 form-group fw-bold fs-9 text-wrap w-100">
            <label for="textNombre">Nombre</label>
            <input type="text" class="form-control" th:field="*{nombre}" id="textNombre"
                placeholder="Ingrese nombre" required>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
            <div class="valid-feedback">
                Todo bien
            </div>

            <div class="invalid-feedback">
                Es necesario poner el nombre
            </div>
        </div>

        <div class="p-4 form-group fw-bold fs-9 text-wrap w-100">
          <label for="textEdad">Edad</label>
          <input type="text" class="form-control" th:field="*{edad}" id="textEdad"
              placeholder="Ingrese edad" required>
          <span th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></span>
          <div class="valid-feedback">
            Todo bien
        </div>

        <div class="invalid-feedback">
            Es necesario ingresar edad
        </div>
      </div>

      <div class="p-4 form-group fw-bold fs-9 text-wrap w-100">
        <label for="textSexo">Sexo</label>
        <input type="text" class="form-control" th:field="*{sexo}" id="textSexo"
            placeholder="Ingrese sexo" required>
        <span th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}"></span>
        <div class="valid-feedback">
            Todo bien
        </div>

        <div class="invalid-feedback">
            Ingrese su género
        </div>
    </div>


        <div class="p-4 form-group fw-bold fs-9 text-wrap w-100">
            <label for="textpregunt1">PRIMERA PREGUNTA</label>
            <div class="mt-3">
                <label for="textpregunta">        ¿Cual es la altura de tu asiento?</label>
                <div>
                    <img src="/calificacion-webui/src/main/resources/static/img/imagen1.jpg" alt=""> <!--PRIMERA IMAGEN-->
                </div>
                <div class="mt-2">
                    <div>
                        <label for="textliteral1">1.- Rodilla a 90°</label>
                    </div>
                    <div>
                        <label for="textliteral2">2.- Si es muy baja de la rodilla, menor de 90°</label>
                    </div>
                    <div>
                        <label for="textliteral3">3.- Silla muy alta, rodilla mayor de 90°</label>
                    </div>
                    <div>
                        <label for="textliteral4">4.- Sin contacto con el suelo</label>
                    </div>
                </div>

            </div>
            
            <input type="text" class="form-control mt-2" th:field="*{pregunt1}" id="textpregunt1" placeholder="Ingrese el numeral que sea su respuesta" required>
            <span th:if="${#fields.hasErrors('pregunt1')}" th:errors="*{pregunt1}"></span>
            <div class="valid-feedback">
                Todo bien
            </div>
    
            <div class="invalid-feedback">
                Ingrese una respuesta
            </div>
        </div>

        <!--------------------------------------------------------------------------------->
        <div class="p-4 form-group fw-bold fs-9 text-wrap w-100">
            <label for="textpregunt2">SEGUNDA PREGUNTA</label>
            <div class="mt-3">
                <label for="textpregunta">        ¿Cual es la profundidad de tu asiento?</label>
                <div>
                    <img src="/calificacion-webui/src/main/resources/static/img/#" alt=""> <!--PRIMERA IMAGEN-->
                </div>
                <div class="mt-2">
                    <div>
                        <label for="textliteral1">1.- 8 cm de espacio</label>
                    </div>
                    <div>
                        <label for="textliteral2">2.- Menos de 8 cm de espacio</label>
                    </div>
                    <div>
                        <label for="textliteral3">3.- Mas de 8cm de espacio</label>
                    </div>
                    <div>
                        <label for="textliteral4">4.- otro</label>
                    </div>
                </div>

            </div>
            
            <input type="text" class="form-control mt-2" th:field="*{pregunt2}" id="textpregunt2" placeholder="Ingrese el numeral que sea su respuesta" required>
            <span th:if="${#fields.hasErrors('pregunt2')}" th:errors="*{pregunt2}"></span>
            <div class="valid-feedback">
                Todo bien
            </div>
    
            <div class="invalid-feedback">
                Ingrese una respuesta
            </div>
        </div>


        <!--------------------------------------------------------------------------------->
        <div class="p-4 form-group fw-bold fs-9 text-wrap w-100">
            <label for="textpregunt3">TERCERA PREGUNTA</label>
            <div class="mt-3">
                <label for="textpregunta">        ¿Cual es tu postura del reposabrazos?</label>
                <div>
                    <img src="/calificacion-webui/src/main/resources/static/img/#" alt=""> <!--PRIMERA IMAGEN-->
                </div>
                <div class="mt-2">
                    <div>
                        <label for="textliteral1">1.- En línea con el hombro delgado</label>
                    </div>
                    <div>
                        <label for="textliteral2">2.- Muy alta o con poco soporte</label>
                    </div>
                    <div>
                        <label for="textliteral3">3.- Muy separados</label>
                    </div>
                    <div>
                        <label for="textliteral4">4.- Superficie dura dañada en el reposabrazos</label>
                    </div>
                </div>

            </div>
            
            <input type="text" class="form-control mt-2" th:field="*{pregunt3}" id="textpregunt3" placeholder="Ingrese el numeral que sea su respuesta" required>
            <span th:if="${#fields.hasErrors('pregunt3')}" th:errors="*{pregunt3}"></span>
            <div class="valid-feedback">
                Todo bien
            </div>
    
            <div class="invalid-feedback">
                Ingrese una respuesta
            </div>
        </div>


        <!--------------------------------------------------------------------------------->
        <div class="p-4 form-group fw-bold fs-9 text-wrap w-100">
            <label for="textpregunt4">CUARTA PREGUNTA</label>
            <div class="mt-3">
                <label for="textpregunta">        ¿Cual es la postura del respaldo de tu silla?</label>
                <div>
                    <img src="/calificacion-webui/src/main/resources/static/img/#" alt=""> <!--PRIMERA IMAGEN-->
                </div>
                <div class="mt-2">
                    <div>
                        <label for="textliteral1">1.- Buen respaldo en 180°</label>
                    </div>
                    <div>
                        <label for="textliteral2">2.- Respaldo en 210°</label>
                    </div>
                    <div>
                        <label for="textliteral3">3.- Mesa de trabajo muy alta</label>
                    </div>
                    <div>
                        <label for="textliteral4">4.- otros</label>
                    </div>
                </div>

            </div>
            
            <input type="text" class="form-control mt-2" th:field="*{pregunt4}" id="textpregunt4" placeholder="Ingrese el numeral que sea su respuesta" required>
            <span th:if="${#fields.hasErrors('pregunt4')}" th:errors="*{pregunt4}"></span>
            <div class="valid-feedback">
                Todo bien
            </div>
    
            <div class="invalid-feedback">
                Ingrese una respuesta
            </div>
        </div>


        <!--------------------------------------------------------------------------------->
        <div class="p-4 form-group fw-bold fs-9 text-wrap w-100">
            <label for="textpregunt5">QUINTA PREGUNTA</label>
            <div class="mt-3">
                <label for="textpregunta">        ¿Cual es la posición de tu pantalla?</label>
                <div>
                    <img src="/calificacion-webui/src/main/resources/static/img/#" alt=""> <!--PRIMERA IMAGEN-->
                </div>
                <div class="mt-2">
                    <div>
                        <label for="textliteral1">1.- Monitor de frente a la altura de los ojos</label>
                    </div>
                    <div>
                        <label for="textliteral2">2.- Monitor hacia abajo</label>
                    </div>
                    <div>
                        <label for="textliteral3">3.- Monitor alto</label>
                    </div>
                    <div>
                        <label for="textliteral4">4.- Monitor muy lejos</label>
                    </div>
                </div>

            </div>
            
            <input type="text" class="form-control mt-2" th:field="*{pregunt5}" id="textpregunt5" placeholder="Ingrese el numeral que sea su respuesta" required>
            <span th:if="${#fields.hasErrors('pregunt5')}" th:errors="*{pregunt5}"></span>
            <div class="valid-feedback">
                Todo bien
            </div>
    
            <div class="invalid-feedback">
                Ingrese una respuesta
            </div>
        </div>







        <!--------------------------------------------------------------------------------->
        <div class=" mb-4 form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <div class="valid-feedback">
                Todo bien
            </div>

            <div class="invalid-feedback">
                Es necesario aceptar los terminos
            </div>
            <label class="form-check-label" for="flexCheckChecked"> Acepta las políticas de privacidad </label>
        </div>
        <hr>
            <input type="submit" class="btn bg-primary fw-bold col-5  text-white" value="Guardar">
            

        </form>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
            .forEach(function (form) {
            form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
            })
            })()
        </script>





<footer class="w-100  d-flex  align-items-center justify-content-center flex-wrap mt-3">
    <p class="fs-5 px-3  pt-3">MétodoRosa &copy; Aplicaciones Web (Ingeniero García Plua) </p>
    <div id="iconos" >
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>  
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script> 
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <script src="main.js"></script>

    
</body>
</html>